---
name: Add Meta RFC Issue to OpenSearch Project Roadmap

events:
  - issues.labeled

tasks:
  - name: Github Label Canary Monitor
    call: github-label-canary-monitor@default
    args:
      nameSpace: GitHubLabelCanary
      metricName: AutomationApp_EventDataLake
      value: '1'
      unit: Count
  - name: Add issue to OpenSearch Project Roadmap
    call: add-issue-to-github-project-v2@default
    args:
      labels:
        - Meta
        - META
        - RFC
        - rfc
        - Roadmap:Security
        - Roadmap:Security Analytics
        - Roadmap:Modular Architecture
        - Roadmap:Cost/Performance/Scale
        - Roadmap:Stability/Availability/Resiliency
        - Roadmap:Releases/Project Health
        - Roadmap:Observability/Log Analytics
        - Roadmap:Vector Database/GenAI
        - Roadmap:Ease of Use
        - Roadmap:Search and ML
      project: opensearch-project/206

  - name: Update item field value in OpenSearch Project Roadmap
    call: update-github-project-v2-item-field@default
    args:
      itemId: ${{ outputs.Add issue to OpenSearch Project Roadmap#1 }}
      method: label
      project: opensearch-project/206
